* {
    margin: 0;  /* espaçamento */
    padding: 0; /* preenchimento */
    box-sizing: border-box; /* ajuste de como a medida da caixa é calculada */
    /* Abaixo é para deixar as fontes um pouco mais suaves para a internet */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;   /* com esse reset, faz com que sempre 1rem equivale a 10px */
    /* Dessa forma é possivel usar todas as unidades de PX em REM, que é uma medida relativa, que sempre responde a uma maneira mais responsiva */
}

body {
    font-size: 1.6rem;  /* equivale a 16px */
    font-family: 'Inter';
    background-color: #292738;
}

.grid {
    display: grid;
}

.text-center {
    text-align: center;
}

#app {
    column-gap: 3.2rem; /* GAP significa o espaçamento */
    row-gap: 5.9rem;
    width: fit-content;
    height: fit-content;
    min-height: 100vh;
    place-content: center;
    padding: 3.2rem;
    margin: auto;
}

.box {
    padding: 2.9rem 4.8rem;
    background: #363447;
    box-shadow: 0.3rem 0.4rem 2.6rem rgba(0, 0, 0, 0.25);
    border-radius: 1.6rem;
    color: white;
    line-height: 160%;
    gap: 3.2rem;
}

.top {
    font-weight: 600;
    font-size: 2.4rem;
}

.middle {
    display: grid;
    place-content: center;  /* Para centralizar o circulo */
    position: relative; /* Para o conteudo dentro poder ser absoluto */
}

.middle .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /* Usando somente Top e Left, o conteudo que ficou centralizado foi a parte superior esquerda, e não o centro do conteudo. Usando o translate para subir e levar um pouco para o lado, fazendo o conteudo ficar centralizado */
    text-align: center;
}

.content h3 {
    font-size: 3.4rem;
}

.bottom {
    display: flex;
    gap: 2rem;
    justify-content: center;    /* No display FLEX se usa essa propriedade pois só tem 1 linha para trabalhar */
    margin-top: auto;   /* Funcionou deixar Margin Top AUTO pois o elemento pai é um FLEX ou GRID */
    font-weight: 500;
    font-size: 1.4rem;
}

.bottom .item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bottom .item span {
    --bg-color: #4A4556;
}

.bottom .item span:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.bottom .item span:nth-child(1)::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    background: var(--bg-color);
    border-radius: 50%;
}

.nps {
    gap: 3.2rem;
}

.nps .middle {
    height: 19.7rem;
    place-content: center;  /* Coloca os conteudos no centro */
    justify-items: center;  /* Alinha os itens no centro */     /* No GRID se usa essa propriedade pois tem linhas e colunas para trabalhar */
    gap: 1.6rem;
    color: #81FBB8;
}

.nps .bottom {
    gap: 1rem;
}

svg {
    --percentage: 0;
    width: 19.7rem;
    height: 19.7rem;
    transform: rotate(-90deg);
}

svg circle {
    /* Esses 618 é o calculo da Circunferência */
    /* dasharray e dashoffset é basicamente como se ele completasse o redondo, e ao mesmo tempo desfizesse ele */
    stroke-dasharray: 619; 
    stroke-dashoffset: 619; 
    stroke-width: 35;   /* Largura da borda */
    fill: none;     /* Preenchimento interno vazio (por padrão é preto) */
}

svg circle:nth-child(1) {
    stroke-dashoffset: 0;   /* 0 faz aparecer, no caso, aparece somente o cinza, que sempre vai estar aparente */
}

svg circle:nth-child(2) {
    stroke-dashoffset: calc(619 - (619 * var(--percentage))/100);    /* Calculo para saber a porcentagem que irá aparecer (o que está entre parenteses é onde escolhe a porcentagem) */
    stroke-linecap: round;  /* Deixa arredondado o stroke */
    animation: progress 1s; /* Usa a animação de "progresso" dando inicio do 0 até o desejado */
}

@keyframes progress {
    0% {
        stroke-dasharray: 619; 
        stroke-dashoffset: 619; 
    }
}

.weekly-sell {
    gap: 3.2rem;
}

.weekly-sell .wrapper {
    display: flex;
    flex-direction: column; /* para ficar em coluna (quando o navegador for menor que 1200px, pois ja tem o @media aplicado) */
    gap: 3.2rem;
}

.weekly-sell .left {
    gap: 3.2rem;
    grid-auto-flow: column; /* para ficar em coluna (quando o navegador for menor que 1200px, pois ja tem o @media aplicado) */
}

.weekly-sell .left, .weekly-sell .right {
    flex: 1;    /* Isso significa que ambos os lados vão tentar ocupar o mesmo espaço que tenham disponível */
}



.left .grid {
    gap: .8rem;
    font-weight: 500;
    font-size: 2.4rem;
}

.left .grid span {
    font-weight: 500;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.left .grid span::before {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    clip-path: polygon(50% 0%, 0% 80%, 100% 80%);   /* Criou o "triangulozinho" */
}

.left .most-sell span::before {
    background: linear-gradient(180deg, #81FBB8 0%, #28C76F 100%);  /* cor verde (mais vendas) */
    margin-top: 0.2rem;
}

.left .less-sell span::before {
    background: linear-gradient(180deg, #EA5455 0%, #FEB692 100%);  /* cor vermelha (menos vendas) */
    transform: matrix(1, 0, 0, -1, 0, 0);   /* Matrix para inverter o triangulo para baixo */
    margin-bottom: 0.3rem;
}

.bars {
    display: flex;
    gap: calc(3vw + 1rem);    /* Espaço entre os elementos (entre as barras) */
    align-items: flex-end;
    position: relative;
}

.bars::before {     /* Criando o tracinho do meio */
    content: "";
    display: block;
    position: absolute;
    height: 0.3rem;
    width: 100%;
    background-color: #4A4556;
    border-radius: 999px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;     /* Para ficar atras das barras */
}

.bar-wrapper {
    display: grid;
    justify-items: center;
    gap: .5rem;
    z-index: 1;     /* Para as barras ficarem na frente do traço do meio */
    /* Definindo um espaço para as barras, pois quando coloca a animação up, não está conforme planejado */
    /* Estão em 2 rows, então se define o tamanho das 2 */
    grid-template-rows: 15.9rem 1.6rem;     /* 15.9 é a barrinha com maior altura (para ficar bem definido) / 1.6 é a altura do texto de 16px */
    /* Mas, assim está vindo de cima para baixo, então falta configurar o .bar para se alinha para o final */
}

.bar {
    width: 1.5rem;
    background: linear-gradient(180deg, #90F7EC 0%, #32CCBC 100%);
    border-radius: 999px;   /* Se usasse 50% não ficaria com as bordas arredondadas, pois o objeto não é circular */
    height: var(--height);
    animation: up 1s;
    align-self: end;    /* Para alinhar as barrinhas que estavam emcima, para baixo. E como é Grid, é somente End e não Flex-End */
}

@keyframes up {
    0% {
        height: 0;
    }
}

@media (min-width: 1200px) {
    #app {
        grid-template-columns: 29.6rem max-content max-content;
        grid-template-rows: max-content;
    }
    
    .box:nth-child(4) {     /* Caixa número 4 */
        grid-column: 1/4;
    }
    
    .weekly-sell .wrapper {
        flex-direction: row; /* para ficar em linha (quando o navegador for maior que 1200px */
    }
    
    .weekly-sell .left {
        grid-auto-flow: initial; /* para ficar em coluna (quando o navegador for menor que 1200px, pois ja tem o @media aplicado) */
    }

    .bars {
        gap: 5.9rem;
    }
}